      <section id="explanation">

        <h3>About this Site</h3>
        <p>
          This data provides a window into how people are interacting with the municipal government online. The data comes from a Google Analytics account for the Municipality of Anchorage. This program helps government agencies understand how people find, access, and use government services online. This program does not track individuals, and <a href="https://support.google.com/analytics/answer/2763052?hl=en" class="external-link">anonymizes the IP addresses</a> of visitors.
        </p>

		<p>
		  Please contact the <a href="mailto:webmaster@muni.org?subject=analytics.muni.org Feedback">webmaster</a> with comments, questions, or suggestions for improving this application.
		</p>

        <p>
          This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/MunicipalityOfAnchorage/analytics.muni.org" class="external-link">code for this website</a> and the <a href="https://github.com/MunicipalityOfAnchorage/analytics-reporter" class="external-link">code behind the data collection</a> on GitHub.
        </p>

		<p>
		  <em>NOTE: The original 18F/GSA projects can be found at <a href="https://github.com/18F/analytics.usa.gov">analytics.usa.gov</a> and <a href="https://github.com/18F/analytics-reporter">analytics-reporter</a>.</em>
		</p>

      </section>
