<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <!--
      JavaScript block hooks look for any element with both data-block and
      data-source attributes:

      <section data-block="users" data-source="path/to/data.json">
        The "loading", "loaded", and "error" classes are set on this element
        the data-source URL is loaded. Then the renderer is called on the first
        child of the block with the "data" class:

        <div class="data">
        </div>

        Some renderers expect to be called on HTML tables, in which
        case you would use:

        <table class="data">
        </table>

      </section>
      -->

      <div id="main_data">
	    {% include error.html %}
        <section id="realtime"
          data-block="realtime"
          data-source="{{ data_url }}/realtime.json"
          data-refresh="15">
          <h2 id="current_visitors" class="data">...</h2>
          <div class="chart_subtitle">people on municipal web pages now</div>
        </section>

        <section class="section_headline visits_today">
          <h3>Visits Today</h3>
          <h4>Alaska Time</h4>
        </section>
        <section id="time_series"
          data-block="today"
          data-source="{{ data_url }}/today.json"
          data-refresh="15">
          <svg class="data time-series">
          </svg>
        </section>

        <section class="section_headline">
          <h3>Visits in the Past 90 Days</h3>
        </section>

        <section class="section_subheadline">
          There were <span id="total_visitors" class="data">...</span> visits over the past 90 days.
        </section>

        <section id="devices" class="three_column"
          data-block="devices"
          data-source="{{ data_url }}/devices.json">
          <h4>Devices</h4>
          <figure id="chart_device_types">
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section id="browsers" class="three_column">
          <h4>Browsers</h4>

          <figure id="chart_browsers"
            data-block="browsers"
            data-source="{{ data_url }}/browsers.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_ie"
            data-block="ie"
            data-source="{{ data_url }}/ie.json"
            data-scale-to-parent="true">
            <h4>Internet Explorer</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section id="operating_systems" class="three_column">
          <h4>Operating Systems</h4>

          <figure id="chart_os"
            data-block="os"
            data-source="{{ data_url }}/os.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_windows"
            data-block="windows"
            data-source="{{ data_url }}/windows.json"
            data-scale-to-parent="true">
            <h4>Windows</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <!-- forces section to wrap, couldn't find a better way -->
        <div style="clear: both"></div>

        <section class="section_headline">
          <h3>Visitor Locations Right Now</h3>
        </section>

        <section id="cities" class="three_column"
          data-block="cities"
          data-source="{{ data_url }}/top-cities-realtime.json">
          <h4>Cities</h4>
          <figure id="chart_top-cities-90-days">
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section id="countries" class="three_column">
          <h4>Countries</h4>

          <figure id="chart_us"
            data-block="countries"
            data-source="{{ data_url }}/top-countries-realtime.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_countries"
            data-block="international_visits"
            data-source="{{ data_url }}/top-countries-realtime.json">
            <h4>International</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

      </div>

      <div id="secondary_data">
        <section id="top_100_table">

          <!-- see: http://heydonworks.com/practical_aria_examples/ -->
          <h3>Top <span id="top_table_type">Pages</span></h3>
          <ul class="pills" role="tablist">
            <li><a role="tab" data-type="Pages" aria-selected="true" href="#top-pages-realtime" class="site-nav">Now</a></li>
            <li><a role="tab" data-type="Pages" href="#top-pages-7-days" class="site-nav">7 Days</a></li>
            <li><a role="tab" data-type="Pages" href="#top-pages-30-days" class="site-nav">30 Days</a></li>
            <li><a role="tab" data-type="Pages" href="#top-pages-90-days" class="site-nav">90 Days</a></li>
            <li><a role="tab" data-type="Pages" href="#top-pages-365-days" class="site-nav">365 Days</a></li>
          </ul>

          <figure class="top-pages" id="top-pages-realtime" role="tabpanel"
            data-block="top-pages-realtime"
            data-source="{{ data_url }}/top-pages-realtime.json"
            data-refresh="15">
            <h5><em>
              People on a <strong>single, specific page</strong> now.
              Download the dataset: (<a href="{{ data_url }}/all-pages-realtime.csv">CSV</a>) (<a href="{{ data_url }}/all-pages-realtime.json">JSON</a>)
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-7-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ data_url }}/top-pages-7-days.json">
            <h5><em>
			  Visits over the last 7 days to <strong>pages</strong>.
              Download the dataset: (<a href="{{ data_url }}/all-pages-7-days.csv">CSV</a>) (<a href="{{ data_url }}/all-pages-7-days.json">JSON</a>)
        </em></h5>
			<div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-30-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ data_url }}/top-pages-30-days.json">
            <h5><em>
              Visits over the last 30 days to <strong>pages</strong>.
              Download the dataset: (<a href="{{ data_url }}/all-pages-30-days.csv">CSV</a>) (<a href="{{ data_url }}/all-pages-30-days.json">JSON</a>)
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-90-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ data_url }}/top-pages-90-days.json">
            <h5><em>
              Visits over the last 90 days to <strong>pages</strong>.
              Download the dataset: (<a href="{{ data_url }}/all-pages-90-days.csv">CSV</a>) (<a href="{{ data_url }}/all-pages-90-days.json">JSON</a>)
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-365-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ data_url }}/top-pages-365-days.json">
            <h5><em>
              Visits over the last 365 days to <strong>pages</strong>.
              Download the dataset: (<a href="{{ data_url }}/all-pages-365-days.csv">CSV</a>) (<a href="{{ data_url }}/all-pages-365-days.json">JSON</a>)
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

	<!--
        <section id="top_downloads_table">

          <h3>Top Downloads</h3>
          <h5><em>Total file downloads yesterday on government domains.</em></h5>
          <figure id="top-downloads"
            data-block="top-downloads"
            data-source="{{ data_url }}/top-downloads-yesterday.json">
            <div class="data bar-chart">
            </div>
          </figure>

        </section>
	-->

        <section id="data_download">

        <h3>Download the Data</h3>

          <h4>Updated daily</h4>
          <ul>
            <li>
              Visits to all pages over 30 days (<a href="{{ site.data_url }}/all-pages-30-days.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/all-pages-30-days.json" class="download-data">JSON</a>)
            </li>
            <li>
              Visits to all pages over 90 days (<a href="{{ site.data_url }}/all-pages-90-days.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/all-pages-90-days.json" class="download-data">JSON</a>)
            </li>
            <li>
              Visits to all pages over 365 days (<a href="{{ site.data_url }}/all-pages-365-days.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/all-pages-365-days.json" class="download-data">JSON</a>)
            </li>
	    <!--
            <li>
              Top downloads over 7 days (<a href="{{ site.data_url }}/top-downloads-7-days.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/top-downloads-7-days.json" class="download-data">JSON</a>)
            </li>
            -->
            <li>
              Desktop/mobile/tablet (<a href="{{ site.data_url }}/devices.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/devices.json" class="download-data">JSON</a>)
            </li>
            <li>
              Web browsers (<a href="{{ site.data_url }}/browsers.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/browsers.json" class="download-data">JSON</a>)
            </li>
            <li>
              Versions of Internet Explorer (<a href="{{ site.data_url }}/ie.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/ie.json" class="download-data">JSON</a>)
            </li>
            <li>
              Operating systems (<a href="{{ site.data_url }}/os.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/os.json" class="download-data">JSON</a>)
            </li>
            <li>
              Versions of Windows (<a href="{{ site.data_url }}/windows.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/windows.json" class="download-data">JSON</a>)
            </li>
          </ul>
          <h4>Updated every 5 minutes</h4>

          <ul>
            <li>
              All pages people are visiting (<a href="{{ site.data_url }}/all-pages-realtime.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/all-pages-realtime.json" class="download-data">JSON</a>)
            </li>
            <li>
              Visitors per country (<a href="{{ site.data_url }}/top-countries-realtime.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/top-countries-realtime.json" class="download-data">JSON</a>)
            </li>
            <li>
              Visitors per city (<a href="{{ site.data_url }}/top-cities-realtime.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/top-cities-realtime.json" class="download-data">JSON</a>)
            </li>
            <li>
              Total people online (<a href="{{ site.data_url }}/realtime.csv" class="download-data">CSV</a>) (<a href="{{ site.data_url }}/realtime.json" class="download-data">JSON</a>)
            </li>
          </ul>
      </section>

	  </div>

	  {% include footer.html %}

	  </div>
  </body>

  {% include footer_scripts.html %}

</html>
